 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 368px;
}

.u-section-1 .u-text-1 {
  font-family: Rubik;
  line-height: 1.18;
  letter-spacing: 0px;
  font-size: 5.625rem;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Rubik;
  width: 820px;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1830px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/193563557-465453a5-872b-42fe-8b45-b8905b267969.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 468px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 131px;
  width: 131px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-family: Rubik;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: Rubik;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-family: Rubik;
  border-style: solid;
  text-transform: uppercase;
  margin: 39px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 493px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 488px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/image.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 468px;
  height: auto;
  margin: 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 104px;
  width: 104px;
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-family: Rubik;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Rubik;
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-family: Rubik;
  border-style: solid;
  text-transform: uppercase;
  margin: 39px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 493px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 488px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/image1.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 614px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 494px;
  height: auto;
  margin: 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 104px;
  width: 104px;
  background-image: none;
  margin: 8px auto 0;
  padding: 0;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-family: Rubik;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Rubik;
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: Rubik;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 61px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }
}